body{
background-color:grey;
}

#header h1{
color:white;
text-align:center;}

#container{
background-color:white;
width:800px;
margin:auto;
padding:10px;
}

#header{
background-color:green;}

#footer{
background-color:grey;}

#nav{
float:left;
width:180px;
height:600px;
padding:0px 10px 10px 10px;}
#nav ul{
margin-top:5px;
padding:0px;}
#nav ul li{
list-style-type:none;
color:red;}

#nav ul li h2{
color:green;
}

h1,h2,h3{
margin:0;}

#main{
margin-left:200px;
height:600px;
width:600px;}

#footer{
color:white;
text-align:right;}
